@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-playfair {
    font-family: "Playfair Display", serif;
  }
}

@layer components {
  .cta-btn {
    @apply tracking-widest bg-yellow-500 hover:bg-opacity-0 hover:text-yellow-600 border-yellow-500 border-4 w-40 h-12 rounded uppercase font-semibold transition-all duration-500 ease-in-out;
  }
  .menu-btn {
    @apply tracking-widest bg-gray-900 hover:bg-gray-50 hover:text-black border-gray-900 hover:border-gray-50 border-4 w-40 h-12 rounded uppercase font-semibold transition-all duration-500 ease-in-out;
  }
}

@layer base {
  * {
    font-family: "Outfit", sans-serif;
  }

  table {
    /*width: 4000px;*/
    overflow: hidden;
    width: 100%;
    table-layout: fixed;
  }

  #table-wrapper {
  }

  th {
    text-align: center;
    display: block;
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  td {
    white-space: nowrap;
    text-align: left;
    display: block;
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  #menu {
    z-index: 70;
  }
  .modal {
    z-index: 60;
  }
}

@media screen and (min-width: 640px) {
  th {
    display: table-cell;
    text-align: left;
    font-size: 1rem;
  }
  td {
    display: table-cell;
    font-size: 1rem;
  }
}

@media screen and (min-width: 640px) {
  .testimonial {
    font-size: 0.8rem;
  }

  .testimonial > footer {
    font-size: 0.8rem;
  }
}
