@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-playfair {
    font-family: "Playfair Display", serif;
  }
}

@layer components {
  .cta-btn {
    @apply tracking-widest bg-yellow-500 hover:bg-opacity-0 hover:text-yellow-600 border-yellow-500 border-4 w-40 h-12 rounded uppercase font-semibold transition-all duration-500 ease-in-out;
  }
  .menu-btn {
    @apply tracking-widest bg-gray-900 hover:bg-gray-50 hover:text-black border-gray-900 hover:border-gray-50 border-4 w-40 h-12 rounded uppercase font-semibold transition-all duration-500 ease-in-out;
  }
}

@layer base {
  * {
    font-family: "Outfit", sans-serif;
  }

  table {
    /*width: 4000px;*/
    overflow: hidden;
    width: 100%;
    table-layout: fixed;
  }

  th {
    text-align: center;
    display: block;
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  td {
    white-space: nowrap;
    text-align: left;
    display: block;
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  #menu,
  #reservation {
    z-index: 70;
  }

  .hero::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.9) 2%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .modal {
    z-index: 60;
  }

  .main {
    @apply max-w-5xl mx-auto relative z-10;
  }

  input:focus {
    outline: 2px solid rgba(230, 230, 230);
  }

  input:placeholder-shown ~ .floating-label {
    top: 6px;
    bottom: 10px;
    left: 10px;
    font-size: 16px;
    opacity: 1;
  }

  input:not(:placeholder-shown) ~ .floating-label {
    color: gray;
    position: absolute;
    pointer-events: none;
    font-size: 14px;
    left: 0px;
    top: -20px;
    transition: 0.2s ease all;
    padding: 0 4px;
  }

  .inputText {
    font-size: 1rem;
    padding: 0 6px;
    width: 15rem;
    height: 35px;
  }

  .floating-label {
    color: gray;
    position: absolute;
    pointer-events: none;
    font-size: 14px;
    left: 10px;
    top: -12px;
    transition: 0.2s ease all;
  }
}

@media screen and (min-width: 640px) {
  th {
    display: table-cell;
    text-align: left;
    font-size: 1rem;
  }
  td {
    display: table-cell;
    font-size: 1rem;
  }
}

@media screen and (min-width: 640px) {
  .testimonial {
    font-size: 0.8rem;
  }

  .testimonial > footer {
    font-size: 0.8rem;
  }
}
